body {
  background: #def;
}

body, input {
  font: 16px/1.5 Source Sans Pro, sans-serif;
}

h1 {
  margin-top: 0;
}

button {
  background-color: #eee;
}

input[type=text],
button {
  border: 1px solid #ccc;
  border-radius: 0.2em;
  padding: 0 0.5em;
  height: 2em;
}

input[type=text]:focus,
button:focus {
  border-color: #999;
  outline: none;
}

section {
  width: 40em;
  padding: 1em 2em;
  margin: 1em auto;
  background: white;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  border-radius: 0.2em;
}

.rc-toggable {
  width: 10em;
  height: 10em;
  margin: 1em 0;
  background: #999;
}

.rc-suffixed-input .suffix {
  padding: 0 1em;
  line-height: 2;
}
.rc-suffixed-input input[type=text] {
  background: rgba(255, 255, 255, 0.8);
}


